/*
 *= require_tree .
 *= require_self
 */

 *{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
 }

 main{
   padding-top: 60px;
 }

 .profileWraper{
  width: 40px;
  height: 40px;
 }

 .application{
  background: hsla(0, 0%, 100%, 0.6);
 }

 